@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.footer {
  width: 100%;
  background-color: $blue;
  padding: 1rem;
  display: block;

  &__text {
    color: $white;
    font-size: 18px;
    font-weight: 400;
  }
}
